@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Krona+One&family=Montserrat:wght@400;600&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@font-face {
    -fx-font-family: 'Exo2';
    src: url('/resources/fonts/Exo2-Regular.ttf');
}

.root {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #3a5169, #142536);
    -fx-padding: 10;
    -fx-font-family: 'Exo2';
}

.text-field {
    -fx-font-size: 16px;
    -fx-background-color: #ecf0f1;
    -fx-text-fill: #2c3e50;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.task-text {
    -fx-font-size: 16px;
}

.button:hover {
    -fx-cursor: hand;
}

.add-button {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #3498db, #045082); /* Cor padrão */
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 6; /* Padding fixo */
    -fx-border-width: 2; /* Largura da borda fixa */
    -fx-border-color: transparent; /* Sem borda visível */
    -fx-min-height: 15px; /* Altura mínima */
    -fx-min-width: 70px; /* Largura mínima */
    -fx-alignment: center;
}

.remove-button {
    -fx-background-color: transparent !important;
    -fx-padding: 5 !important;
    -fx-border-width: 2 !important;
    -fx-border-color: transparent !important;
    -fx-min-height: 10px !important;
    -fx-min-width: 85px !important;
}

.check-button {
    -fx-background-color: transparent;
    -fx-padding: 5;
    -fx-min-height: 10px !important;
    -fx-min-width: 85px !important;
}

.list-view {
    -fx-background-color: #ecf0f1;
    -fx-text-fill: #2c3e50;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.list-view .done {
    -fx-text-fill: gray;
    -fx-font-style: italic;
    -fx-strikethrough: true;
}

/* Título do programa */
.title-flow {
    -fx-font-size: 36px;
    -fx-font-style: normal;
}

.title-flow .to-text {
    -fx-fill: linear-gradient(from 0% 0% to 100% 0%, #3498db, #62baf5);
    -fx-font-size: 50px;
}

.title-flow .do-list-text {
     -fx-fill: linear-gradient(from 0% 0% to 100% 0%, #3498db, #06609c);
     -fx-font-size: 50px;
}

.credits {
    -fx-fill: #FFFFFF;
    -fx-font-style: italic;
}